@media only screen and (max-width: 1400px) {
  .hero h1 span {
    white-space: nowrap;
  }
  .hero h1 {
    font-size: 132px;
  }
  .hero p {
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .hero .img-box .border-text {
    bottom: -46%;
    font-size: 224.358px;
  }
  .logistic .title h3 {
    font-size: 224.358px;
    margin-bottom: -110px;
  }
  .container-log .img-box .border-text {
    font-size: 300px;
  }
  .container-log .section-top .section-title {
    right: 4%;
  }
}

@media only screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 110px;
  }
  .hero .img-box .border-text {
    bottom: -44%;
    font-size: 180.358px;
  }
  .logistic .title h3 {
    font-size: 180.358px;
    margin-bottom: -85px;
  }
  .btn-wrapper.aos-init.aos-animate {
    /* display: block; */
    width: 100%;
    text-align: center;
    left: 0;
  }
  .container-log .section-top .section-title {
    right: -5%;
  }
  .container-log .img-box .border-text {
    font-size: 250px;
  }
  .container-log .links a li h3 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-log .img-box .border-text {
    font-size: 240px;
  }
  .section-title {
    width: 130px;
    height: 130px;
  }
  .container-log .section-top .section-title {
    width: 130px;
    height: 130px;
    bottom: -22%;
    right: -3%;
  }
  .service ul li img {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .button-container {
    display: none;
  }
  .hero h1 {
    font-size: 82px;
  }
  .hero .img-box .border-text {
    bottom: -48%;
    font-size: 140.358px;
  }
  .logistic .title h3 {
    font-size: 140.358px;
    margin-bottom: -70px;
  }
  .service ul li span {
    display: none;
  }
  .service ul li h3 {
    text-align: left;
    font-size: 100px;
  }
  .feedback .item h3 {
    font-size: 30px;
  }
  .container-log .section-top h3 {
    font-size: 80px;
  }
  .container-log .section-top h3 span {
    white-space: nowrap;
  }
  .container-log .section-top .section-title {
    bottom: -40%;
    right: -2%;
  }
  .container-log .img-box .border-text {
    font-size: 180px;
    letter-spacing: 60px;
  }
  .container-log .links a li {
    display: block;
    margin-bottom: 70px;
  }
  .container-log .links a li h3 {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 85px;
  }

}
@media only screen and (max-width: 768px) {
  p {
    font-size: 19px;
  }
  .hero h1 {
    font-size: 62px;
  }
  .hero .img-box .border-text {
    bottom: -53%;
    font-size: 112.358px;
    letter-spacing: 60px;
  }
  .hero .img-bottom h3 {
    font-size: 60px;
  }
  .offset-4 {
    margin-left: 0;
    margin-top: 50px;
  }
  .years .learn-btn .content p {
    margin-top: 50px;
  }
  .logistic .title h3 {
    font-size: 112.358px;
    margin-bottom: -55px;
  }
  .item {
    text-align: center;
  }
  .service ul li h3 {
    font-size: 70px;
  }
  .service ul li h3 span {
    font-size: 19px;
  }
  .feedback .item h3 {
    font-size: 24px;
  }
  .container-log .section-top h3 {
    font-size: 70px;
  }
  .section-title {
    width: 120px;
    height: 120px;
  }
  .container-log .section-top .section-title {
    right: -11%;
    bottom: -44%;
    width: 120px;
    height: 120px;
  }
  .section-title .title {
    font-size: 18px;
  }
  .container-log .img-box .border-text {
    font-size: 150px;
    letter-spacing: 45px;
  }
  .container-log .links a li p {
    font-size: 19px; 
  }
  .container-log .links a li h3 {
    font-size: 70px;
  }
  .container-log .links a li h3 svg {
    width: 50px;
  }
  .footer ul.conversation li a {
    font-size: 24px;
  }
  .footer ul li {
    font-size: 20px;
  }
  .footer-bottom .content {
    display: block;
  }
  .footer-bottom .content p {
    text-align: center;
    font-size: 18px;
  }
  .footer-bottom .content p:nth-child(1){
    display: none;
  }
  .footer-bottom .content p:nth-child(3){
    display: none;
  }
}

@media only screen and (max-width: 668px) {
  .topbar .content .menu button span {
    width: 50px;
  }
  .topbar .menu-content i {
    top: 40px;
    right: 40px;
    font-size: 40px;
  }
  .container-log .section-top h3 {
    font-size: 62px;
  }
  .section-title .title {
    font-size: 16px;
  }
  .section-title {
    width: 110px;
    height: 110px;
  }
  .container-log .section-top .section-title {
    right: -4%;
    bottom: -45%;
    width: 110px;
    height: 110px;
  }
  .container-log .img-box .border-text {
    font-size: 130px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
  .hero .img-box .border-text {
    bottom: -38%;
    font-size: 85.358px;
  }
  .years .count {
    font-size: 150px;
  }
  .years .count span {
    font-size: 150px;
  }
  .logistic {
    padding: 170px 0;
  }
  .logistic .title h3 {
    font-size: 85.358px;
    margin-bottom: -40px;
  }
}

@media only screen and (max-width: 580px) {
  .hero h1 {
    font-size: 55px;
  }
  .section-title {
    width: 130px;
    height: 130px;
  }
  .service ul li h3 {
    font-size: 62px;
  }
  .service ul li h3 span {
    font-size: 16px;
  }
  .service ul li .btn-style-two svg {
    width: 35px;
  }
  .feedback .item h3 {
    font-size: 20px;
  }
  .feedback .item .desg h4 {
    font-size: 20px;
  }
  .container-log .section-top h3 {
    font-size: 55px;
  }
  .section-title .title {
    font-size: 14px;
  }
  .section-title {
    width: 100px;
    height: 100px;
  }
  .container-log .section-top .section-title {
    right: 4%;
    bottom: -49%;
    width: 100px;
    height: 100px;
  }
  .container-log .img-box .border-text {
    font-size: 110px;
    letter-spacing: 35px;
    margin-bottom: 50px;
  }
  .container-log .links a li h3 {
    font-size: 62px;
  }
  .container-log .links a li p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .topbar .content .menu button span {
    width: 40px;
  }
  .topbar .menu-content i {
    top: 30px;
    right: 30px;
    font-size: 30px;
  }
  .hero h1 {
    font-size: 45px;
  }
  .hero .img-box .border-text {
    bottom: -40%;
    font-size: 70.358px;
    letter-spacing: 40px;
  }
  .hero .img-bottom {
    margin-top: 170px;
  }
  .hero p,.years .learn-btn .content p,
  .years .learn-btn .content p {
    max-width: 100%;
  }
  .logistic {
    padding: 170px 0;
  }
  .logistic .title h3 {
    font-size: 70.358px;
    margin-bottom: -30px;
  }
  /* .section-title {
    width: 130px;
    height: 130px;
  } */
  .service ul li h3 {
    font-size: 45px;
    white-space: nowrap;
  }
  .service ul li h3 span {
    display: none;
  }
  .service ul li .btn-style-two svg {
    width: 30px;
  }
  .container-log .section-top h3 {
    font-size: 45px;
  }
  .container-log .section-top .section-title {
    /* bottom: -62%;
    right: 3%; */
    display: none;
  }
  .container-log .img-box .border-text {
    font-size: 95px;
  }
  .container-log .links a li p {
    display: none;
  }
  .container-log .links a li h3 {
    font-size: 52px;
  }
  .container-log .links a li h3 svg {
    width: 45px;
  }
}

@media only screen and (max-width: 380px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero .img-box .border-text {
    bottom: -40%;
    font-size: 62.358px;
  }
  .hero .img-bottom h3 {
    font-size: 48px;
    line-height: 65px;
  }
  .years .count {
    font-size: 130px;
  }
  .years .count span {
    font-size: 130px;
  }
  .logistic .title h3 {
    font-size: 62.358px;
    margin-bottom: -25px;
  }
  .container-log .section-top h3 {
    font-size: 48px;
  }
  .container-log .section-top .section-title {
    bottom: -75%;
  }
  .container-log .img-box .border-text {
    font-size: 75px;
  }
  .container-log .links a li h3 {
    font-size: 45px;
  }
  .container-log .links a li h3 svg {
    width: 40px;
  }
}

@media only screen and (max-width: 340px) {
  .hero .img-box .border-text {
    bottom: -45%;
    font-size: 52.358px;
    letter-spacing: 30px;
  }
  .container-log .img-box .border-text {
    font-size: 70px;
  }
  .service ul li h3 {
    font-size: 36px;
  }

}
